<h3>Detail Client</h3>
<div>
    <div>
        <label><b>ID: </b>{{cliente.id}}</label>
    </div>
    <div>
        <label><b>Shared key: </b>{{cliente.sharedKey}}</label>
    </div>
    <div>
        <label><b>Business Id: </b>{{cliente.businessId}}</label>
    </div>
    <div>
        <label><b>E-mail: </b>{{cliente.email}}</label>
    </div>
    <div>
        <label><b>Phone: </b>{{cliente.phone}}</label>
    </div>
    <div>
        <label><b>Data Added: </b>{{cliente.dataAdded}}</label>
    </div>
</div>
